<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>PAPERO</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: darkred;">
        <a class="navbar-brand" href="/">
            <img src="" alt="" width="30" height="24" class="d-inline-block align-top">
            <span class="hidden" style="color: floralwhite;">PAPERO</span>
        </a>
        <ul class="navbar-nav ms-auto text-center">
          <li>
            <a class="nav-link" href="/users/register" style="color: floralwhite;">Sign Up</a>
          </li>
          <li>
            <a class="nav-link" href="/users/login" style="color: floralwhite;">Login</a>
          </li>
        </ul>
    </nav>
    <section class="h-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img
                      src=""
                      alt="Sample photo"
                      class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                    />
                  </div>
                  <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                      <h3 class="mb-5 text-uppercase">User Register</h3>
                      <%- include('../partials/messages') -%>
                      <form action="/users/register" method="POST">
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="first_name" name="first_name" class="form-control"
                                placeholder="Enter First Name"
                                value="<%= typeof first_name != 'undefined' ? first_name : '' %>" />
                                <label for="first_name">First Name</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="last_name" name="last_name" class="form-control"
                                placeholder="Enter Last Name"
                                value="<%= typeof last_name != 'undefined' ? last_name : '' %>" />
                            <label for="last_name">Last Name</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                            value="<%= typeof email != 'undefined' ? email : '' %>" />
                            <label for="email">Email Address</label>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="password" id="password" name="password" class="form-control"
                            placeholder="Create Password"
                            value="<%= typeof password != 'undefined' ? password : '' %>" />
                            <label for="password">Password</label>
                          </div>
                        </div>

                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <select name="gender" id="gender" class="form-control">
                                <option value="none" selected disabled hidden>
                                    Select a Gender
                                </option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="not_to_say">Prefer Not To Say</option>
                            </select>
                            <label for="gender">Gender</label>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input type="password" id="password2" name="password2" class="form-control"
                            placeholder="Confirm Password"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                          <label for="password2">Confirm Password</label>
                        </div>
                      </div>
                      
                      <div class="form-outline mb-4">
                        <select name="states" id="states" class="form-control">
                            <option value="none" selected disabled hidden>
                                Select a States
                            </option>
                            <option value="Penang">Penang</option>
                        </select>
                        <label for="states">States</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <select name="location" id="location" class="form-control">
                            <option value="none" selected disabled hidden>
                                Select an Area Location
                            </option>
                            <option value="Simpang Ampat">Simpang Ampat</option>
                            <option value="Butterworth">Butterworth</option>
                        </select>
                        <label for="location">Area Location</label>
                      </div>
                      <div class="d-flex justify-content-end pt-3">
                        <button type="submit" class="btn btn-warning btn-lg ms-2">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>
</html>