<h1 class="mt-4">Papero</h1>

<%if(user){%>
    <p class="lead mb-3">Welcome <%= user.firstName +' '+ user.lastName %></p>
<%}%>
<a href="/sellers/dashboard" class="btn btn-secondary">Seller</a>

<a href="/forums/" class="btn btn-secondary">Forum</a>

<%if(user){%>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<%}else{%>
    <a href="/users/login" class="btn btn-secondary">Login</a>
    <a href="/users/register" class="btn btn-secondary">Register</a>
    <%}%>
    <form action="/search" method="post">
        <input type="text" style="width: 200px;" name="searchbar" value="<%=(typeof searchResults != 'undefined')? searchResults: ''%>" id="searchbar">
        <button type="submit">Go!</button>
    </form>

<%for(let i=0; i<books.length ; i++ ){%>
            
        
    <div style="width: 200px; height: 250px;background-color: burlywood;">

                <div class="card card-body mb-3">
                    <img style="width: 100px; height: 100px;" src="<%= books[i].coverImgUri %>" alt="">
                </div>       



        <p><%= books[i].bookTitle %></p>
        <form action="/view/<%=books[i]._id%>" method="get">
            <button type="submit"> Open </button>
        </form>
        
    </div>
<%}%>


<%if(currentPage>1){%>
    <a href="/search=<%=searchResults%>/page=<%=currentPage-1%>/total=<%=pages%>" class="btn btn-secondary">Last Page</a>
    <%}%>
    <%for(let i=1; i<=pages; i++){%>
    <a href="/search=<%=searchResults%>/page=<%=i%>/total=<%=pages%>"><%=i%></a>
    <%}%>
    <%if(currentPage<pages){%>
    <a href="/search=<%=searchResults%>/page=<%=++currentPage%>/total=<%=pages%>" class="btn btn-secondary">Next Page</a>
    <%}%>


  