<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> User Setting
            </h1>
            <%- include('../partials/messages') -%>
            
                <form action="/seller/setting" method="POST">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" class="form-control"
                            placeholder="Enter First Name"
                            value="<%= (user.firstName)? user.firstName : '' %>" />
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" class="form-control"
                            placeholder="Enter Last Name"
                            value="<%= (user.lastName)? user.lastName : '' %>" />
                    </div>

                    <div class="form-group">
                        <label for="noIC">IC Number</label>
                        <input type="text" id="noIC" name="noIC" class="form-control"
                            placeholder="Enter Ic Number (For validation purpose)" maxlength=12
                            value="<%= (user.noIC)? user.noIC : '' %>" disabled/>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                        value="<%= (user.email)? user.email : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Create Password"
                            value="" />

                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" name="password2" class="form-control"
                            placeholder="Confirm Password"
                            value="" />
                    </div>

                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select name="gender" id="gender" class="form-control">
                            <%var options = [ "Male", "Female", "Prefer Not to Say" ];
                            for ( var i = 0; i < options.length; i++ )
                            {
                                var selected = ( user.gender == options[i] ) ? "selected" : "";
                                %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                            }
                            %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="noTel">No. Tel</label>
                        <input type="number" id="noTel" name="noTel" class="form-control" value="<%= '0'+(user.noTel)? user.noTel : '' %>">
                    </div>

                    <div class="form-group">
                        <label for="states">States</label>
            <select name="states" id="states" class="form-control">
<%
                var options = [ "Penang", "Johor" ];
                for ( var i = 0; i < options.length; i++ )
                {
                    var selected = ( user.states == options[i] ) ? "selected" : "";
                    %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                }
                %>
                
                </select>
                    </div>

                    <div class="form-group">
                        <label for="location">Area Location</label>
                        <select name="location" id="location" class="form-control">
                            <%var options = [ "Simpang Ampat", "Butterworth" ];
                            for ( var i = 0; i < options.length; i++ )
                            {
                                var selected = ( user.location == options[i]) ? "selected" : "";
                                %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                            }
                            %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="whatsappLink">Whatsapp Link: </label>
                        <input type="text" id="whatsappLink" name="whatsappLink" value="<%= (seller.whatsappLink)? books.whatsappLink: '' %>" class="form-control" placeholder="Enter if you have one!" />
                    </div>
                    <div class="form-group">
                        <label for="messengerLink">Messenger Link: </label>
                        <input type="text" id="messengerLink" name="messengerLink"  value="<%= (seller.messengerLink)? books.messengerLink: '' %>" class="form-control" placeholder="Enter if you have one!" />
                    </div>
                    <div class="form-group">
                        <label for="wechatLink">WeChat Link: </label>
                        <input type="text" id="wechatLink" name="wechatLink"  value="<%= (seller.wechatLink)? books.wechatLink: '' %>" class="form-control" placeholder="Enter if you have one!" />
                    </div>
                    <div class="form-group">
                        <label for="instagramLink">Instagram Link: </label>
                        <input type="text" id="instagramLink" name="instagramLink"  value="<%= (seller.instagramLink)? books.instagramLink: '' %>" class="form-control" placeholder="Enter link if you have one!" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Update
                    </button>

                </form>
                <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
        </div>
    </div>
</div>